---
import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectLinks from '../../components/ProjectLinks.astro'
import LightboxGallery from "../../components/LightboxGallery.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map(project => ({
    params: { slug: project.id }, props: { project },
  }));
}

const { project } = Astro.props;

const mdxProjects = import.meta.glob('../../projects/*.mdx', { eager: true });
const mdxProjectsData = Object.values(mdxProjects);
const projectMeta = mdxProjectsData.find(p=> p.frontmatter.title == project.data.title);

const images = project.data.images.gallery;

const { Content } = await render(project);
const pageTitle = `Robert Walker • ${project.data.title}`;
---
<style>
  .projectPage{
    padding: 0px 50px;
  }
  
  .header{}
  .header div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap:5px;
  }
  .header svg {
    height: 12px;
  }

  .title h1{
    font-size: 2em;
    padding: 0;
    margin: 0;
  }

  .banner {
    height:280px;
    margin:20px 0;
  }

  .banner img {
    width: 100%;
    height:280px;
    object-fit: cover;
  }

  .copy{
    font-size: 24px;
    padding: 0 50px 20px;
  }

  .copy h4{
    font-size: 1rem;
  }

  @media screen and (max-width: 600px) {
    .projectPage{
      padding: 0;
    }
    .copy{
      padding: 0 0 20px;
    }
  }

</style>
<BaseLayout pageTitle={pageTitle}>
  <div class="projectPage">
    <div class="header">
      <div class="title">
        <h1>{project.data.title}</h1>
        <ProjectLinks links={project.data.links}/>
      </div>
      <div>
        {project.data.projectType}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path d="M264.5 5.2c14.9-6.9 32.1-6.9 47 0l218.6 101c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 149.8C37.4 145.8 32 137.3 32 128s5.4-17.9 13.9-21.8L264.5 5.2zM476.9 209.6l53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 277.8C37.4 273.8 32 265.3 32 256s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0l152-70.2zm-152 198.2l152-70.2 53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L45.9 405.8C37.4 401.8 32 393.3 32 384s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2c23.4 10.8 50.4 10.8 73.8 0z">
            <title>Stack</title>
          </path>
        </svg>
        {project.data.stack.join(' | ')}
      </div>
    </div>
    {projectMeta?.Banner ? 
      <projectMeta.Banner/>
      :
      <div class="banner">
        <Image class="bannerImage" src={project.data.images.banner} alt="Project banner" loading="eager" />
      </div>
    }
    <div class="copy">
      <Content />
      <h4>- Project gallery -</h4>
      <LightboxGallery images={images} />
    </div>
  </div>

</BaseLayout>